{% comment %} Home Page Template for Raei (Boutique Version) {% endcomment %}

<div class="section fade-in">
  {% section 'hero-banner' %}
</div>

<div class="section fade-in">
  {% section 'featured-product' %}
</div>

<div class="section fade-in">
  {% section 'newsletter-signup' %}
</div>

<div class="section fade-in">
  {% section 'faq-accordion' %}
</div>
