{% comment %} About Page Template for Raei {% endcomment %}

<div class="section about-page" style="text-align: center;">
  <h1>about raei</h1>
  <p>raei was created with the belief that everyday essentials should feel anything but ordinary. thoughtfully designed to move with you, every piece is made for comfort, function, and effortless style.</p>
</div>
